.project
.classpath
*.iml

*/.settings/*
*/*/.settings/*
*/*/*/.settings/*

*/target/*
*/*/target/*
*/*/*/target/*

*/dist/*
*/*/dist/*
*/*/*/dist/*

*/build/*
*/*/build/*
*/*/*/build/*

.idea/*
*/.idea/*
*/*/.idea/*
*/*/*/.idea/*

